*{margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    margin:auto;
}
.img{
    width: 100%;
}
.services-section .text-wrapper,
.services-section img {
	max-width: 40%;
	display: inline-block;
	vertical-align: top;
}
.services-section img{
    margin-right: 10%;
}
 .item-box{
    position:relative;
    width: 300px;
}
.item-box img{
   aspect-ratio: 1/1; 
}

 